<html>
  <head>
    <title>Why</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
<body>
  <div class="wrapper vcenter-item">
    <div id="home">
      <p class="text-center talign">
        <img src="https://images-ext-2.discordapp.net/external/S9U-RcQ_wQZSYwiCjBivurGwHoAYDWE6HA7lxzG_rzE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/791122306650603543/8020eb7047c392dbbd9454c804a9a63b.png" class="cooolimg" style="width: 128px; height: 128px;">
        <br><span class="text-light" style="margin-top: 10px; margin-bottom: 1px;">REEEEE</span></br>
    <a href="" type="button" class="btn btn-primary">Github</a>
      </p>
    </div>
  </div>
  </body>
<style>
  body{
background-color: rgba(0,0,0,0.9)}
  .wrapper{
    min-height: 100vh;
    
  }
  .vcenter-item{
    display: flex;
    align-items: center;
    
  }
  #home{
    width: 100%;
  }
  .cooolimg{
    animation: hover 4s ease-in-out infinite;
  }
  @keyframes hover{
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-10px);
    }
     100%{
      transform: translateY(0px);
    }
  }
  
</style>
</html>